<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">VScanMagic</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Ingest
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sessions">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sessions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rules">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Rules
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="templates">
                <span class="bi bi-envelope-fill-nav-menu" aria-hidden="true"></span> Templates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="configuration">
                <span class="bi bi-sliders-nav-menu" aria-hidden="true"></span> Configuration
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hostname-review">
                <span class="bi bi-pc-display-horizontal-nav-menu" aria-hidden="true"></span> Host Counts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="company-review">
                <span class="bi bi-building-nav-menu" aria-hidden="true"></span> Company Review
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="probe-config">
                <span class="bi bi-hdd-network-nav-menu" aria-hidden="true"></span> Probe & Credentials
            </NavLink>
        </div>
    </nav>
</div>
